*{
    margin: 0px auto;
    padding: 0px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -moz-user-select: none;
    user-select: none;
    text-decoration: none;
}
body{
    background-color: #f5f5f5;
}
.container{
    width: 1280px;
    height: 649px;
    overflow: hidden;
    justify-content: center;
    display: flex;
    align-items: center;
}
.content-page{
    width: 1219px;
    height: 590px;
    position: relative;
    border:none;
    border-radius: 40px;
    background-color: #ff0000;
    box-shadow: 2px 6px 10px rgba(43, 42, 42, 0.6);
}
.content-img-bg, .content-img-size-hero{
    width: 50%;
    height: 590px;
    float: left;
    border:none;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}
.content-img-size-hero{
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
.box-form-md{
    width: 50%;
    height: 590px;
    float: right;
    border:none;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}
.title-md-pg-0{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    width: 100%;
    height: auto;
    position: relative;
    top: 120px;
}
.input-box{
    width: 65%;
    height: 50px;
    border-bottom: 2px solid #fff;
    position: relative;
    top: 170px;
    margin-bottom: 50px;
}
.box-icon{
    width: 50px;
    height: 50px;
    float: left;
}
.box-input-sc{
    width: 81.8%;
    height: 50px;
    border: none;
    float: left;
    position: relative;
    left: 1px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    background-color: transparent;
    color: #fff;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.box-input-sc:default{
    background: transparent;
}
.box-input-sc::-webkit-input-placeholder{
    color: #fff;
}
.input-button{
    width: 65%;
    height: 40px;
    border: none;
    position: relative;
    top: 155px;
    margin-bottom: 50px;
}
.btn{
    width: 90px;
    height: 40px;
    border-radius: 8px;
    border: none;
    outline: none;
    cursor: pointer;
    float: left;
    display: block;
    margin-left: 5px;
    margin-right: 5px;
}
.btn-proses{
    padding: 10px;
    border-radius: 8px;
    border: none;
    display: none;
    outline: none;
    cursor: pointer;
    background-color: #00c041;
}
#btn-check{
    position: relative;
    bottom: 38px;
    right: 75px;
}
.btn-span{
    padding: 10px;
    border-radius: 12px;
    position: relative;
    margin-top: 1000px;;
}
.btn-success{
    background-color: #00c041;
    color: #fff;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}
.btn-danger{
    background-color: #c00000;
    color: #fff;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}
.btn-success:hover{
    background-color: #07d64c;
}
.forgot-pass{
    color: #fff;
    font-size: 16px;
    margin: 10px;
    position: relative;
    left: 10px;
    top: 10px;
    cursor: pointer;
}
.icon-center{
    font-size: 40px;
    position: relative;
    left: 7.5px;
    top: 5px;
    color: #fff;
}
.container-dash{
    width: 1365px;
    height: 805px;
    /* border: 1px solid black; */
    position: relative;
    top: 3px;
    margin-bottom: 10px;
}
::-webkit-scrollbar{
    display: none;
}
.nav-box-flex{
    width: 20%;
    height: 100%;
    /* border-right: 1px solid black; */
    float: left;
    box-shadow: 2px 0px 10px rgba(63, 62, 62, 0.6);  
}
.logo-box-top, .logo-img-md{
    height: 12%;
}
.logo-img-md{
    width: 45%;
    height: 100%;
    display: flex;
    cursor: pointer;
}
.navbar-content-box{
    height: 85%;
}
.navbar-list-content{
    height: 50px;
    margin-top: 8px;
    margin-bottom: 8px;
}
.box-nav-list{
    width: 96%;
    height: 90%;
    margin-top: 2px;
    border-radius: 15px;
    cursor: pointer;
    color: rgba(24, 21, 21, 0.6);
}
.box-nav-list:hover{
    background-color: rgb(255, 0, 0);
    color: #fff;
    box-shadow: 2px 2px 4px rgba(63, 62, 62, 0.6);  
}
.active{
    background-color: rgb(255, 0, 0);
    color: #fff;
    box-shadow: 2px 2px 4px rgba(63, 62, 62, 0.6);  
}
.active:hover{
    box-shadow: 2px 2px 4px rgba(63, 62, 62, 0.6);  
}
.icon-center-dash{
    font-size: 35px;
    margin: 5px;
    position: relative;
    left: 10px;
    float: left;  
    width: 40px;
}
.title-nav{
    font-size: 23px;
    position: relative;
    padding: 10px;
    left: 10px; 
}
.nav-top-md{
    width: 78.5%;
    height: 40px;
    display: block;
    float: left;
    position: relative;
    top: 10px;
    left: 5px;
}
.label-title-left{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgba(52, 12, 255, 0.846);
    float: left;
    margin: 7px;
    position: relative;
    left: 10px;
    padding-left: 5px;
    border-left: 4px solid rgb(255, 12, 12);    
}
.settings{
    float: right;
    margin: 7px;
    font-size: 20px;
    color: rgb(47, 48, 48);
    cursor: pointer;
}
.digital-time{
    font-size: 20px;
    float: right;
    margin: 7px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(9, 112, 181);
    font-weight: bold;
}
.content-box{
    width: 79%;
    height: auto;
    float: left;
    margin: 5px;
    position: relative;
    top: 20px;
}
.page-add{
    width: 98%;
    height: 50px;
}
.btn-add{
    background-color: #00c041;
    color: #fff;
    padding: 10px;
    position: relative;
    top: 2px;
    border-radius: 10px;
    float: right;
    cursor: pointer;
}
.table-mod{
    width: 98%;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(43, 42, 42, 0.6);
}
.table-content-list{
    width: 100%;    
    text-transform: uppercase;
    font-size: 16px;
    border-spacing: 0px;
    border-radius: 10px;
    overflow: hidden; 
}
.header-table{
    background-color: red;
    border-spacing: 0px;
    color: #fff;
}
.header-table{
    padding: 5px;
}
.desc-table{
    word-wrap: break-word;
    padding: 5px;   
    overflow: hidden;
    word-wrap: break-word;
}
.box-action-0{
    width: 90px;
    height: 20px;
    overflow: hidden;
    position: relative;
    right: 10px;
}
.box-action-1{
    width: 90px;
    height: 20px;
    overflow: hidden;
    position: relative;
}
.btn-trash-0{
    position:relative;
    bottom:20px;
    left:25px;
    border: none;
    background-color: transparent;
}
.row-table:nth-child(even){
    background-color: rgb(223, 222, 222);
}
.center-content{
    text-align: center;
}
.pointer{
    cursor: pointer;
    color: #ff0000;
}
.border-none{
    border:none;
}
.form-data{
    width: 98%;
    height: 80px;
    border-radius: 15px;
    box-shadow: 2px 3px 10px rgba(24, 21, 21, 0.6);
}
.box-data-input{
    width: 1020px;
    height: 50px;
    float: left;
    margin: 15px;
    position: relative;
    overflow: hidden;
}
.title-sec-add{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgba(22, 22, 22, 0.742);
    position: relative;
    top: 4px;
}
.input-form-add{
    width: 200px;
    height: auto;
    position: relative;
    padding: 10px;
    margin-left: 20px;
    font-size: 15px;
    margin-top:7px;
    border-radius: 10px;
    border: none;
    outline: none;
    color: rgba(24, 21, 21, 0.758);
}
.input-form-add:focus{
    box-shadow: 2px 4px 6px rgba(76, 75, 75, 0.4);
}
.icon-size{
    font-size: 18px;
    cursor: pointer;
}
.icon-green{
    color: #00c041;
    font-weight: bold;
}
.icon-red{
    color: #ff0000;
    font-weight: bold;
}
.icon-white{
    color: #fff;
    font-weight: bold;
}